

<h3>Kramdown Service Gem / About</h3>

<p><b>
What's the <code>kramdown-service</code> gem?
</b>

...

<a href='https://github.com/writekit/kramdown-service'>Find out more »</a>
</p>

<p>
<b>Questions? Comments?</b>  
Send them along to the <a href='http://groups.google.com/group/wwwmake'>wwwmake forum/mailing list</a>.
Thanks!
</p>

<p><b>License</b>
The kramdown-service scripts are dedicated to the public domain.
Use it as you please with no restrictions whatsoever.
</p>
