
<h3>Kramdown Library / Live Examples</h3>

<table class='api'>
<tr>
  <td>kramdown</td>
  <td> / <%= Kramdown::VERSION %></td>
  <td> - 
 <code>GET
     <a href='view-source:<%= url("/markdown?text=Hello+World!") %>'>
        /markdown?text=<em>Hello+World!</em>
     </a>
 </code>
  </td>
  <td>
 <code>&bull; GET
     <a href='<%= url("/babelmark?text=Hello+World!") %>'>
        /babelmark?text=<em>Hello+World!</em>
     </a>
 </code>
  </td>
</tr>
</table>

